#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.draggable-cursor {
  cursor: pointer;
}

 .start {
  /* color: red; */
  /* border-top: red dotted 1px; */
  /* background-color: white; */
  /* color: red; */
  opacity: 0.5;
}

.over {
  border: red dotted 1px;
}
.enter {
  color: red
}

.end {
  border-bottom: red dotted 1px;
}
.bot {
  border-bottom: red dotted 1px;
  /* color: blue; */
}
.top {
  border-top: red dotted 1px;
  /* color: green; */
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.parent {
  color: aqua;
  /* color: black; */
}
.panel {
  color: salmon;
  /* color: black; */
}
.sub {
  color: blueviolet;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
